name: Update My Alura Badges

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Alura Badges
        # Aqui ele chama o SEU repositório como se fosse uma biblioteca
        uses: lcrochaDEV/barge-readme@main
        with:
          username: 'guitarralcs' # O usuário Alura do seu amigo
          badge_limit: '20'       # O limite que ele desejar
