name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *" # Executa a cada 12 horas
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate pacman-contribution-graph.svg (Light)
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: lcrochaDEV

      - name: Prepare files for output
        run: |
          mkdir -p dist
          # Move o arquivo padr찾o para a pasta dist
          mv github-contribution-grid-snake.svg dist/pacman-contribution-graph.svg || true
          # Cria uma c처pia para a vers찾o dark (ajuste manual se a action n찾o tiver tema)
          cp dist/pacman-contribution-graph.svg dist/pacman-contribution-graph-dark.svg

      - name: push files to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
